a {
    color: pink;
}

.center {
    /*border: 2px solid;*/
    text-align: center;
    position: relative;
    margin: 250px auto auto auto;
}

.right {
    /*border: 2px solid;*/
    text-align: center;
    position: relative;
    margin: auto 250px auto auto;
}

