li a {
    color: green;
    }

.right {
    position: relative;
    margin: auto;
}

body {
//  background: white url("images/background.gif") no-repeat right bottom;
    background: white url("images/background.gif") repeat-x center center;
}
